= render 'layouts/blog_nav'
%section#article_container
  %section#article_content
    %section.article
      - @article.each do |article|
        %ul
          %li.title #{ link_to article.title, article_path(article.id)} 
          %li.date created: #{article.created_at.to_date}
          - if check_blog_owner_status == true 
            = render 'layouts/blog_controls', :article => article
        %br      