.row
  .small-12.large-3.columns
    .centered
      = image_tag "jdavison.jpg", :class => "personal_pic"
    = render 'layouts/articles_nav'
  .small-12.large-9.columns
    .margin
      = render 'layouts/new_article'
