%section.row
  %section.two.columns.offset-by-one
    .centered
      = image_tag "jdavison.jpg", :class => "personal_pic"
    = render 'layouts/articles_nav' 
  %section.six.columns.end
    .margin
      = render 'layouts/article_show'