= render 'layouts/blog_nav'
%section#disruption_container  
  %section#create_disruption
    %section.survey
      %p.title
        Thanks for your input. #{@disruption} other people have submitted.
        %br
        %br
        For more learning on 'Disruption'
        %br
        %br
        %a{href: "/disruption.pdf"} My 10 page Summary on The Innovator's Dilemma
        %br
        %br
        or head to the source
        %br
        %br
        %a{href: "http://www.claytonchristensen.com/", target: "new"} http://www.claytonchristensen.com/
  = render 'layouts/article_footer'   