%section#container.group
  %section#nav.group
    =image_tag("jdavison.jpg", :class => "profile_pic")
    =render 'layouts/info'
  %section#content.group
    = render 'layouts/therules'
  %section#footer.group
    footer

  