#main_pic {
	position: fixed;
	top: 217px;
	left: 155px;
}

img#jcdavison {
	@include border-radius(10px) ;
	@include box-shadow(0 0 5px 3px $grey_color);
}

#main_display {
    position: fixed;
    background-color:$section_bg_color;
    opacity: .65;
    @include border-radius(10px) ;
    @include box-shadow(0 0 5px 3px $blue_color);
    margin: 15px;
    width: 360px;
    top: 40px;
    left: 390px;
    overflow: auto;
}

ul {
	padding: 5px;
	font-size: 22px ;
	color: B3B3B3 ;
    text-align: center ;
    overflow: auto;
    li.padded { 
    padding: 10px;
    }
}

#footer {
	position: fixed;
	top: 458px;
	left: 145px;
	height: 50px;
	background-color:$section_bg_color;
    opacity: .65;
    @include border-radius(10px) ;
    @include box-shadow(0 0 5px 3px $blue_color);

}

#footer_content {
	padding: 10px;
	margin: 0px;
	ul, li {
	list-style-type: none;
	display: inline;
	padding: 5px;
	font-weight: bold;
	font-size: 16px ;
	margin: 0px;
	}

}


