/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 */
 @import "bourbon";
 @import "abbs";

 body {
	background-color: #DBD9DA ;
	background-image: url(grey_brick.jpg) ;
}

#profile {
	
	position: fixed ;
	top: 10% ;
	left: 7% ;
	@include border-radius(5px) ;
	@include box-shadow(0 0 5px 3px hsla(263, 100%, 0%, 0.50));

}

#main {
	position: fixed ;
	top: 8% ;
	left: 25% ;
	width: 60% ;
	height: 60% ;

}

#nav {
	position: fixed ;
	top: 38% ;
	left: 6% ;
	width: 15% ;
	height: 30% ;
} 

#footer {
	position: fixed ;
	bottom: 16% ;
	left: 15% ;
	width: 55% ;
	height: 10% ;

} 
  
h1,h2,h3,h4,h5,ul,ol,li,p,header,section,footer {
	font-family: Tahoma ;
}

.content {
	@include border-radius(10px) ;
	background-color: #F5F5F5 ;	
	opacity: .70 ; 
	@include box-shadow(0 0 5px 3px hsla(205, 100%, 45%, 0.70));
	padding: 2px ; 
}
 