/*
 *= require_self
 //= require foundation_and_overrides
 */
 
@import "foundation"; 
@import "articles";
@import "solarized_dark";

$blue_color: hsla(205, 100%, 45%, 0.70);
$grey_color: hsla(263, 100%, 0%, 0.50);
$section_bg_color: rgba(245, 245, 245, 0.32);


body {
	background-color: white;
}

.border {
  border-color: grey;
  border: 1px solid;
}
