/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 
 @import "bourbon";


$blue_color: hsla(205, 100%, 45%, 0.70) ;
$grey_color: hsla(263, 100%, 0%, 0.50) ;
$section_bg_color: #F5F5F5 ;

@import "abbs";
@import "articles";

body {
	background-color: #DBD9DA ;
	background-image: url(noisy_grid.png) ;
	font-family: Tahoma ;
	overflow: auto;
	margin: 10px;
}

a:link, a:active, a:hover, a:visited {
color: $blue_color;
text-decoration: none;
}

#admin_container {
	position: fixed;
		top: 350px ;
	left: 25px ;
	.admin_nav {
	}
	
}
