#blog {
	@include border-radius(5px) ;
	@include box-shadow(0 0 5px 3px $grey_color);
    height: 125px ;
    width: 125px ;
}

#blog_nav {
    position: fixed ;
    left: 100 px ;
    top: 10 px ;
    width: 200 px ;
}

.blog_main{

}