.personal_pic {
	position: relative;
	display: block;
	border-radius: 10px;
	height: 5em;
	width: 5em;
	box-shadow: 0 0 .5em black;
	margin: 1em auto;
}

#nav {
	position: block;
	list-style-type: none;
	margin: 1em auto;
}
#nav li {
	font-size: 18px;
	text-align: center;
}

ul .article, .article li {
	display: inline;
	list-style-type: none;

}

.title{
	font-size: 18px;
}

.date{
	float: right;
}

.padded{
	padding: 1em;
}

.centered{
	margin: 0 auto;
}

.margin{
	margin: 2em auto;
}
