.row#article_container
  .small-10.columns.article#article_content{ :data => { :id => @article.id} }
    .title
      =@article.title
    .details.tags
      %ul
        %li.controls
          =@article.created_at.to_date
        - if @article.tags.present?
          %li.controls
            \:: tags ::
          = render :partial => 'layouts/tag', :collection => @article.tags
        - if check_blog_owner_status
          = render 'layouts/blog_controls', :article => @article
    %p.content
      = return_article_content(@article.content).html_safe
