%section#blog_nav
  %section #{image_tag("jdavison.jpg", :id => "blog_pic")}
  %section.blog_container
    %ul
      %li #{link_to("All Articles", articles_path)}
      %li #{link_to("Home", root_path)}
      %li #{link_to("@jcdavison", "http://www.twitter.com/jcdavison")}