%ul#footer_content 
  %li #{link_to "blog |", articles_path}
  %li #{link_to("@jcdavison |", "http://www.twitter.com/jcdavison", :target => "new")} 
  %li #{link_to("github.com/jcdavison |", "https://www.github.com/jcdavison", :target => "new")}
  %li #{link_to("linkedin.com/in/jcdavison", "http://www.linkedin.com/in/jcdavison", :target => "new")}
