%section.content#footer
  %h4.footer 
    =link_to "blog", articles_path 
    |
    =link_to("@jcdavison", "http://www.twitter.com/jcdavison", :target => "new")
    |
    =link_to("github.com/jcdavison", "https://www.github.com/jcdavison", :target => "new") 
    |
    =link_to("linkedin.com/in/jcdavison", "http://www.linkedin.com/in/jcdavison", :target => "new")