.row
  .large-3.columns
    = image_tag "profile_small.jpg", class: "personal"
  .large-9.columns.links
    %ul.no-bullet.bloglinks
      %li #{link_to("github/jcdavison", "http://github.com/jcdavison", :target => "new")}
      %li #{link_to("@jcdavison", "http://twitter.com/jcdavison", :target => "new")}
      %li #{link_to("Honey Badger Consulting", "#")}
