%ul
  %li Code == Craft #=> true
  %li tdd.required? #=> true
  %li pairing.frequency #=> "usually"
  %li learning.location #=> "omni"
  %li value.begets #=> "product"
  %li intention.informs #=> "movement"
  %li will.work_for("FOOD") #=> true