%ul
  %li.padded Code === Craft
  %li.padded tdd.required? => :true
  %li.padded pairing.frequency => :usually
  %li.padded learning.location => :omni
  %li.padded value.begets => :product
  %li.padded intention.informs => :movement
  %li.padded will.work_for(f00d) => :true