%section.content#main
  %p.main Code === Art
  %p.main tdd.required? => :true
  %p.main pairing.frequnecy => :usually
  %p.main learning.location => :omni
  %p.main value.begets => :product
  %p.main intention.informs => :movement
  %p.main will.work_for(f00d) => :true

  
  